<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    {% block custom_css %}
    {% endblock %}
</head>
<body>
   {% block content %}
   {% endblock %}
</body>
<script src="{% static 'm/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap3.3.7/js/bootstrap.min.js' %}"></script>
<script src="{% static 'layer_mobile/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/p.js' %}"></script>
<script src="{% static 'js/jquery.zclip.min.js' %}"></script>
{% block custom_js %}
{% endblock %}
</html>