{% extends 'dashubao/m/shuku-base.html' %}
{% block title %}{{ noveldetail.novel_name }}最新更新_{{ noveldetail.novel_name }}最新章节_{{ noveldetail.quanping }}_{{ WAP1_NAME }}_{{ WAP1_URL }}{% endblock %}
{% block keywords %}{{ noveldetail.novel_name }},小说{{ noveldetail.novel_name }},{{ noveldetail.novel_name }}最新章节,{{ noveldetail.novel_name }}全文阅读,{{ noveldetail.quanping }}{% endblock %}
{% block description %}({{ noveldetail.quanping }}){{ noveldetail.novel_name }}是由{{ noveldetail.novel_author }}所写的{{ noveldetail.novelclassify.caption }}类小说，本站提供{{ noveldetail.novel_name }}最新章节观看,{{ noveldetail.novel_name }}全文阅读等服务，如果您发现{{ noveldetail.novel_name }}更新慢了,请第一时间联系{{ WAP1_NAME }}。{% endblock %}
{% load staticfiles %}
{% block custom_css %}
    <style>
        .ope2 {
            height: 24px;
            line-height: 24px;
            padding: 16px 0 10px;
            margin: 0 auto;
            background: #fff;
            text-align: center;
            overflow: hidden;
            color: #2962B9;
        }
        .ope2 .specleft {
            border-radius: 4px 0 0 4px;
        }

        .ope2 a {
            padding: 2px 12px 2px 12px;
            border: 1px solid #C3CEE9;
            background: -webkit-gradient(linear,left top,left bottom,from(#F7FBFE),to(#DEE9F4));
            background: -moz-gradient(linear,left top,left bottom,from(#F7FBFE),to(#DEE9F4));
            border-right: none;
            display: inline-block;
        }

        .ope2 .specright {
            border-right: 1px solid #dadafa;
            border-radius: 0 4px 4px 0;
        }

    </style>
{% endblock %}
{% block content %}
    <body data-spm="fic-book">
        <script type="text/javascript" src="{% static 'js/p.js' %}"></script>
        <header class="header pageHead">
            <div class="wrap headerWrap">
                <div class="wrap">
                    <h1>书籍详情</h1>
                    <div class="opts optsLeft">
                        <a href="javascript:history.go(-1);" class="opt goBack"><i class="i iG iG_A4"></i><b></b></a>
                    </div>
                    <div class="opts optsRight">
                        <a href="{% url 'users:users_favbook' %}" class="opt toBookShelf"><i class="i iG iG_A2"></i><b></b></a>
                        <a href="{% url 'search:search_bd_search' %}?s_type=name" class="opt toSearch"><i class="i iG iG_G5"></i><b></b></a>
                    </div>
                </div>
            </div>
        </header>
        {% include 'dashubao/p/navigation.html' %}
        <div class="book-detail">
            <div class="default-box">
                <div class="summary">
                    <div class="cover">
                        <img onerror="this.src='{% static 'images/noimg.jpg' %}'" src="{{ noveldetail.get_image_path|default:DEF_FENMIAN }}" alt="{{ noveldetail.novel_name }}">
                    </div>
                    <div class="info">
                        <h3>
                            <a href="javascript:">{{ noveldetail.novel_name }}</a>
                        </h3>
                        <p>
                            <a href="javascript:">{{ noveldetail.novel_author }} 著</a>
                        </p>
                        <p>
                            <a href="javascript:">{{ noveldetail.novelclassify.caption }}</a>
                            <!--
                            <span>{{ noveldetail.get_book_status }} </span>
                            -->
                        </p>
                        <p>推荐数: {{ noveldetail.novel_zan_nums }}</p>
                        <p>收藏数: {{ noveldetail.novel_fav_nums }}</p>
                    </div>
                </div>
                <div class="intro">
                    <a href="javascript:" class=""><!-- 展开使用样式expand -->
                        <span>
                            {% autoescape off %}
                                {{ noveldetail.novel_info|default:'还没有介绍欢迎同学举报' }}
                            {% endautoescape %}
                        </span>
                        <span class="opt"><em>全部<i>↓</i></em><em>收起<i>↑</i></em></span>
                    </a>
                </div>
                <div class="book-tag-wrapper">
                状态:
                    <a class="tag" href="javascript:">{{ noveldetail.get_book_status }}</a>
                </div>

                <p>更新时间：{{ noveldetail.update_time }}</p>

                <div class="ope2">
	                <a href="javascript:" class="specleft zan">推荐本书</a><a href="javascript:" class="addshuqian">收藏本书</a><a href="{% url 'users:users_home' %}">用户中心</a><a href="{% url 'users:users_adduserask' comefrom %}" class="specright">举报错误</a>
                </div>
            </div>

            <a href="{{ noveldetail.get_first_chapter.get_content_path }}" class="btn btnA btnBlock"><i class="i iG iG_F7"></i>从头阅读</a>

            <ul class="list-box catalog">
                <li class="addon">目录
                    <a href="javascript:" class="aR {{ isdaoxu }}" id="isdaoxu">
                        <i class="i iG iG_C6"></i>
                    </a>
                </li>
                {% for row in chapters.object_list %}
                <li class="addon {% ifequal row.id chapterid  %} curr {% endifequal %}">
                   <a href="{{ row.get_content_path }}">{{ row.chapter_name }}<span class="aR"><i class="i iG iG_B1"></i></span></a>
                </li>
                {% endfor %}

                <li class="pager">
                    {% if chapters.has_previous %}
                    <a href="javascript:" class="btn btnB btnBlock" id="previous" url="{{ request.path }}?{{ chapters.previous_page_number.querystring }}">上一页</a>
                    {% else %}
                    <a href="javascript:" class="btn btnB btnBlock forbid">到头了</a>
                    {% endif %}
                    <div class="select-wrap btn btnB">
                        <select class="btnB">
                            {% for i in pagecount %}
                            <option value="{{ request.path }}?page={{ i }}"   {% ifequal i chapters.number %} selected="selected" {% endifequal %}>{{ i }}/{{ chapters.paginator.num_pages }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if chapters.has_next %}
                    <a href="javascript:" class="btn btnB btnBlock" id="next" url="{{ request.path }}?{{ chapters.next_page_number.querystring }}">下一页</a>
                    {% else %}
                    <a href="javascript:" class="btn btnB btnBlock forbid">到尾了</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <script>
            var bookid = "{{ noveldetail.url_md5 }}"
            var chapterid = "{{ noveldetail.get_first_chapter.chapter_url_md5 }}"

            var book = $.fn.cookie("book");
            $.fn.cookie("book", '', { expires: -1, path: "/" });
            var this_bookid = {{ noveldetail.id }};
            var this_page = {{ chapters.number }};
            var isdaoxu = "{{ isdaoxu }}"
            if(book){
                book = JSON.parse(book)
                var url = "{{ request.path }}?page="+ book.page + '&isdaoxu=isdaoxu&chapterid='+book.chapterid;
                if(book.bookid == this_bookid && !isdaoxu){
                    gethtml(url);
                }else if(book.bookid == this_bookid && isdaoxu && this_page != book.page){
                    gethtml(url);
                }
            }

            //介绍展现
           $('.intro').on('click', function(){
               $(this).children('a').toggleClass("expand");
            });

           $('select').change(function () {
                var url = $(this).val() + ($("#isdaoxu").hasClass('isdaoxu') ? '&isdaoxu=isdaoxu' : '');
                gethtml(url);
           });

           $('#isdaoxu').on('click', function(){
                $(this).toggleClass("isdaoxu");
                var url = "{{ request.path }}?page=1" + ($("#isdaoxu").hasClass('isdaoxu') ? '&isdaoxu=isdaoxu' : '');
                gethtml(url);
           });
           function gethtml(url){

               $.ajax({
                    cache: false,
                    type: 'get',
                    dataType:'html',
                    url:url,
                    data:'',
                    async: true,
                    beforeSend:function(XMLHttpRequest){
                        layer.open({type: 2,shadeClose: true});
                        //_self.val("加载中");
                        //_self.attr('disabled',true);
                    },
                    success: function(html) {
                        layer.closeAll();
                        //正则表达式获取body块
                        var reg = /<body data-spm=\"fic-book\">([\s\S]*)<\/body>/g;
                        var html = reg.exec(html)[1];
                        $("body").html(html);

                    },
                    complete: function(XMLHttpRequest){
                        layer.closeAll();
                        //_self.val(t);
                       // _self.removeAttr("disabled");
                    },
                    error: function(){
                        layer.closeAll();
                        alert('请刷新页面重试');

                    }
                });

           }

           $('#previous,#next ').on('click', function(){

                var _self = $(this);

                var url = _self.attr("url")  + ($("#isdaoxu").hasClass('isdaoxu') ? '&isdaoxu=isdaoxu' : '');

                //var  t =_self.val()

                gethtml(url);

            });

        </script>
    </body>
{% endblock %}