{% extends 'dashubao/m/shuku-base.html' %}
{% block title %}{{ WAP1_NAME }}-{{ WAP1_URL }}{% endblock %}
{% block keywords %}小说,大书包,大书包小说网,{{ WAP1_NAME }}{% endblock %}
{% block description %}{{ WAP1_NAME }}收录了当前最好看的小说,是广大小说阅读爱好者必备的小说网。{% endblock %}
{% load staticfiles %}
{% block custom_css %}
    <style>
        .chapter-page {
            display: flex;
            word-break: break-all;
            margin: 20px 0;
        }

        .chapter-page a {
            display: block;
            width: 50%;
            height: 40px;
            line-height: 40px;
            margin: 0 10px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background-color: #5fc891;
            border: 1px solid #5fc891;
            border-radius: 3px;
        }
        .chapter-page a.disable {
            background-color: #ebebeb;
            border-color: #ccc;
            color: #969ba5;
        }

    </style>
{% endblock %}
{% block content %}
<body data-spm="fic-main">
    <header class="sogou_coop h_min h_fixed">
        <div class="h_min_w ">
            <h1 class="logo_min">
                <a href="javascript:">
                    <i class="image sprite-icons-home"></i>
                </a>
            </h1>
            <div class="showNav">
                <h2>大书包小说</h2>
            </div>
            <div class="sogou">
                <a href="{% url 'search:search_bd_search' %}?s_type=name" class="toSOGOU"><i class="img sprite-icons-search"></i></a>
            </div>
        </div>
    </header>
    {% include 'dashubao/p/navigation.html' %}
    <div class="stream bookList">
        <div class="wrap streamWrap" id="newbooklist">
            <div class="recommendList" id="recommendList">
                <div class="wrap">
                    <div class="feed feedBook_recommend recommendRecentRead">
                        <div class="main">
                            <div class="topic">
                                <h3>最近阅读</h3>
                                <a href="{% url 'novels:novels_historybookshelf' %}" class="more-link">
                                    <span>其余<em id="lishicount">0</em>本</span>
                                    <i class="sprite-icons-arrow-more"></i>
                                </a>
                            </div>
                            <div class="feed feedBook" id="lishibook">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="feed feedBook_recommend recommendBoy">
                <div class="main">
                    <div class="topic">
                        <h3>热门书籍</h3>
                    </div>
                    <ul class="books">
                        {% for row in fav_noveldetail %}
                        <li class="book">
                            <a href="{{ row.get_info_path }}">
                                <img onerror="this.src='{% static 'images/noimg.jpg' %}'" src="{{ row.get_image_path|default:DEF_FENMIAN }}">
                                <span>{{ row.novel_name }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>


            {% for row in noveldetail.object_list %}
            <div class="feed feedBook newbooklist">
                <a href="{{ row.get_info_path }}" class="main">
                    <h4>{{ row.novel_name }}</h4>
                    <div class="cover">
                        <div class="img"><img onerror="this.src='{% static 'images/noimg.jpg' %}'" src="{{ row.get_image_path|default:DEF_FENMIAN }}" style="opacity: 1;"></div>
                    </div>
                    <div class="info">
                        {{ row.novel_author }} | {{ row.novelclassify.caption }} |{{ row.get_book_status }}
                    </div>
                    <div class="desc">
                        {% autoescape off %}
                            {{ row.novel_info|default:'还没有介绍欢迎同学举报' }}
                        {% endautoescape %}
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
        <div class="pagelink" style="display: none;">
          {% if noveldetail.has_next %}
              <a href="{{ request.path }}?{{ noveldetail.next_page_number.querystring }}">下一页</a>
          {% endif %}
        </div>

        <div class="chapter-page" style="display: none;" id = 'paging'>
            {% if noveldetail.has_previous %}
            <a href="{{ request.path }}?{{ noveldetail.previous_page_number.querystring }}">上一章</a>
            {% else %}
            <a href="javascript:void(0);" class="disable">上一章</a>
            {% endif %}
            {% if noveldetail.has_next %}
            <a href="{{ request.path }}?{{ noveldetail.next_page_number.querystring }}">下一页</a>
            {% else %}
            <a href="javascript:void(0);" class="disable">下一章</a>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'm/js/jquery.ias.min.js' %}"></script>
    <script>
        //不是 uc浏览器
        if (eval("na" + "vigator.userAgen" + "t.indexOf('U" + "CBr" + "owser') > -1")) {
            var ias = $.ias({
                container: "#newbooklist", //包含所有文章的元素
                item: ".newbooklist", //文章元素
                pagination: ".pagelink", //分页元素
                next: ".pagelink a",
            });
            ias.extension(new IASTriggerExtension({
                text: '<div class="loadMore"><i class="i iG iG_D7 iLoadingAnim"></i><a href="javascript:" class="more">点击加载更多</a><span>加载中...</span></div>', //此选项为需要点击时的文字
                //  offset: 2, //设置此项后，到 offset-1 页之后需要手动点击才能加载，取消此项则一直为无限加载
            }));
            ias.extension(new IASSpinnerExtension());
            ias.extension(new IASNoneLeftExtension({
                text: '<div class="loadMore"><i class="i iG iG_D7 iLoadingAnim"></i><a href="javascript:" class="more">加载完成</a><span>加载中...</span></div>', // 加载完成时的提示
            }));
        }else {
             $("#paging").show();
        }
        var bookshelfs = $.fn.cookie("bookshelfs");
        if(bookshelfs){
            bookshelfs = JSON.parse(bookshelfs);
            var html = "<a href=\""+ bookshelfs[0].url +"\" class=\"main\">"
                html += "<h4>"+ bookshelfs[0].bookname +"</h4>"
                html += "<div class=\"cover\">"
                html += "<div class=\"img\">"
                html += "<img src=\""+bookshelfs[0].image + "\" onerror=\"this.src='{% static 'images/noimg.jpg' %}'\" style=\"opacity: 1;\">"
                html += "</div></div>"
                html += "<div class=\"info\">作者："+bookshelfs[0].bookauthor+"</div>"
                html += "<div class=\"desc\">浏览记录</div>"
                html += "</a>"
            $("#lishibook").html(html)
            $("#lishicount").html(bookshelfs.length)
        }else {

            $("#recommendList").hide()
        }

    </script>
{% endblock %}