{% extends 'dashubao/m/shuku-base.html' %}
{% block title %}{{ novelclassify.caption|default:"分类"}}列表-{{ WAP1_NAME }}-{{ WAP1_URL }}{% endblock %}
{% block keywords %}{{ novelclassify.caption|default:"分类"}}{% endblock %}
{% block description %}{{ novelclassify.caption|default:"分类"}}{% endblock %}
{% load staticfiles %}
{% block content %}
    <body>
        <header class="header pageHead">
            <div class="wrap headerWrap">
                <div class="wrap">
                    <h1>
                        {{ novelclassify.caption|default:"全部"}}
                    </h1>
                    <div class="opts optsLeft">
                        <a href="/" class="opt reBack"><i class="image sprite-icons-home"></i><b></b></a>
                    </div>
                    <div class="opts optsRight">
                        <a href="{% url 'users:users_favbook' %}" class="opt toBookShelf"><i
                                class="i iG iG_A2"></i><b></b></a>
                        <a href="{% url 'search:search_bd_search' %}?s_type=name" class="opt toSearch"><i class="i iG iG_G5"></i><b></b></a>
                    </div>
                </div>
            </div>
        </header>
        <div class="filter-wrapper">
            <div class="tag-list">
                <a href="{% url 'novels:novels_sortlist' 0 %}?status={{ status }}&other={{ other }}" class="tag {% ifequal novelclassify None %}active{% endifequal %}">全部书籍</a>
            </div>
            <div class="tag-list">
                {% for row in all_novelclassify %}
                    {% if row.sortid > 0 %}
                        <a href="{{ row.get_sortlist_path }}?status={{ status }}&other={{ other }}" class="tag {% ifequal row.sortid novelclassify.sortid %}active{% endifequal %}">{{ row.caption }}</a>
                    {% endif %}
                {% endfor %}


            </div>
            <div class="tag-list">
                <a href="{% ifequal novelclassify None %}{% url 'novels:novels_sortlist' 0 %}?status=2&other={{ other }}{% else %}{{ novelclassify.get_sortlist_path }}?status=2&other={{ other }}{% endifequal %}" class="type {% ifequal status 2 %}active{% endifequal %}">全部</a>
                <a href="{% ifequal novelclassify None %}{% url 'novels:novels_sortlist' 0 %}?status=0&other={{ other }}{% else %}{{ novelclassify.get_sortlist_path }}?status=0&other={{ other }}{% endifequal %}" class="type {% ifequal status 0 %}active{% endifequal %}">连载</a>
                <a href="{% ifequal novelclassify None %}{% url 'novels:novels_sortlist' 0 %}?status=1&other={{ other }}{% else %}{{ novelclassify.get_sortlist_path }}?status=1&other={{ other }}{% endifequal %}" class="type {% ifequal status 1 %}active{% endifequal %}">完本</a>
            </div>

            <div class="tag-list">
                <a href="{% ifequal novelclassify None %}{% url 'novels:novels_sortlist' 0 %}?status={{ status }}&other=all{% else %}{{ novelclassify.get_sortlist_path }}?status={{ status }}&other=all{% endifequal %}" class="type {% ifequal other 'all' %}active{% endifequal %}">全部</a>
                <a href="{% ifequal novelclassify None %}{% url 'novels:novels_sortlist' 0 %}?status={{ status }}&other=fav{% else %}{{ novelclassify.get_sortlist_path }}?status={{ status }}&other=fav{% endifequal %}" class="type {% ifequal other 'fav' %}active{% endifequal %}">收藏榜</a>
                <a href="{% ifequal novelclassify None %}{% url 'novels:novels_sortlist' 0 %}?status={{ status }}&other=zan{% else %}{{ novelclassify.get_sortlist_path }}?status={{ status }}&other=zan{% endifequal %}" class="type {% ifequal other 'zan' %}active{% endifequal %}">推荐榜</a>
            </div>



        </div>

        <div class="stream bookList" id="newbooklist">
            <div class="wrap streamWrap">
                {% for row in all_noveldetail.object_list %}
                <div class="feed feedBook newbooklist">
                    <a href="{{ row.get_info_path }}" class="main">
                        <h4>
                          {{ row.novel_name }}
                        </h4>
                        <div class="cover">
                            <div class="img">
                                <img onerror="this.src='{% static 'images/noimg.jpg' %}'"  src="{{ row.get_image_path }}" alt="{{ row.novel_name }}" style="opacity: 1;">
                            </div>
                        </div>
                        <div class="info">
                           {{ row.novel_author }} | {{ row.novelclassify.caption }} | {{ row.get_book_status }}
                        </div>

                        <div class="desc">
                            {% autoescape off %}
                            {{ row.novel_info|default:'还没有介绍欢迎同学添加' }}
                            {% endautoescape %}
                        </div>

                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="pagelink" style="display: none;">
              {% if all_noveldetail.has_next %}
                  <a href="{{ request.path }}?{{ all_noveldetail.next_page_number.querystring }}">下一页</a>
              {% endif %}
            </div>
        </div>
    </body>

{% endblock %}
{% block custom_js %}
    <script src="{% static 'm/js/jquery.ias.min.js' %}"></script>
    <script>
        var ias = $.ias({
            container: "#newbooklist", //包含所有文章的元素
            item: ".newbooklist", //文章元素
            pagination: ".pagelink", //分页元素
            next: ".pagelink a",
        });
        ias.extension(new IASTriggerExtension({
            text: '<div class="loadMore"><i class="i iG iG_D7 iLoadingAnim"></i><a href="javascript:" class="more">点击加载更多</a><span>加载中...</span></div>', //此选项为需要点击时的文字
          //  offset: 2, //设置此项后，到 offset-1 页之后需要手动点击才能加载，取消此项则一直为无限加载
        }));
        ias.extension(new IASSpinnerExtension());
        ias.extension(new IASNoneLeftExtension({
            text: '<div class="loadMore"><i class="i iG iG_D7 iLoadingAnim"></i><a href="javascript:" class="more">加载完成</a><span>加载中...</span></div>', // 加载完成时的提示
        }));
        /*
        ias.on('rendered', function(items) {
            $(".content img").lazyload({
                effect: "fadeIn",
                failure_limit : 10
            }); //这里是你调用Lazyload的代码
        })
        */

    </script>
{% endblock %}