{% extends 'dashubao/m/usercenter-base.html' %}
{% block title %}头衔{% endblock %}
{% load staticfiles %}
{% block content %}
<body class="huibg">
<nav class="navbar text-center">
   <button class="topleft" onclick ="javascript:history.go(-1);"><span class="iconfont icon-fanhui"> < </span></button>
  <a class="navbar-tit center-block">等级说明</a>
  <button class="topnav" id="open-button"><span class="iconfont icon-1"></span></button>
</nav>
<div class="usercenter">
  <div class="cdv">
    <a href="javascript:"><span>积分使用后期说明</span></a>
  </div>
  {% for r in z %}
  <div class="cdv dzi">
      <a href="javascript:">
      <p>积分：{{ r.min }} <= 积分 < {{ r.max }}<button class="label label-danger pull-right">{{ r.level }}</button></p>
      <p>日推荐：{{ r.piao }}票</p>
      <p>书架：无限制(分类后期开放)</p>
      </a>
  </div>
  {% endfor %}
</div>
</body>
{% endblock %}






