
<!DOCTYPE HTML>
<html>
{% load staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>信息</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<link rel="stylesheet" href="{% static 'm/login/css/jquery.mobile-1.4.5.min.css' %}">
<script type="text/javascript"  src="{% static 'm/login/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'm/login/js/jquery.mobile-1.4.5.min.js' %}"></script>
<!--
    <link rel="stylesheet" href="{% static 'm/login/css/iconfont/iconfont.css' %}">
-->
</head>
<style>
    .ui-bar-f {
        color: #FFF;
        background-color: #f36142;
        border: none;
    }
    .padding5 {
        background-color: #FFF;
        padding: 0em 0em;
    }
    a.tu1 {
        border: none;
    }
    a.tu1:after {
        margin-top: -8px;
    }
</style>
<body>
<div data-role="page" data-theme="f" class="padding5" >
   <div data-role="header"  data-theme="f" >
     <div class="ui-btn-left"> <a href="javascript:history.go(-1);" target="_top" class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-notext tu1">返回</a></div>
     <h1>消息提示</h1>
   </div>

    <div data-role="footer" class="ui-content" style="margin-top: 20px">
    <h1>{{ msg }}</h1>
   </div>

</div>
</body>
</html>
