{% extends 'dashubao/p/base.html' %}
{% load staticfiles %}
{% block title %}找回密码{% endblock %}
{% block content %}
<body>
	<div class="header">
		<div class="back"><a href="javascript:history.go(-1);">返回</a></div>
		<h1>找回密码</h1>
		<div class="reg"><a href="/">首页</a> </div>
	</div>
        <form method="post" action="{% url 'users:users_forget' %}" autocomplete="off" onsubmit="return form_validate();">
            <div class="login">
                <p>邮箱：<input id="email" name="email" placeholder="邮箱地址" onKeyPress="javascript: if (event.keyCode==32) return false;" type="text" class="login_name {% if forget_form.errors.email %}errorput{% endif %}" value="{{ forget_form.email.value|default_if_none:'' }}"></p>
                <input type="submit" class="login_btn c_login_button" id="bnt_submit" value="立即找回" />
                <a class="login_btn c_login_button" href="{% url 'users:users_login' %}">已有账号？点击登录</a>
            </div>
        </form>
		<div class="login_tips">{% for key,error in forget_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
        <br/>
        <br/>
        <h6 style="margin: 10px;color: blue">友情提示: 使用QQ邮箱注册找回密码可能接收不到邮件</h6>
</body>
{% endblock %}

{% block custom_js %}
    <script>

        function form_validate(){
            var email = $.trim($("#email").val());

            if(email==null||email==undefined||email==""){
                showmsg('email不能为空')
                return false;
            }


        }
    </script>
{% endblock %}


