{% extends 'dashubao/p/base.html' %}
{% load staticfiles %}
{% block title %}用户登录{% endblock %}
{% block content %}
<body>
	<div class="header">
		<div class="back"><a href="javascript:history.go(-1);">返回</a></div>
		<h1>用户登录</h1>
		<div class="reg"><a href="/">首页</a> </div>
	</div>

        <div class="login">
            <p>帐号：<input maxlength="30" id="username" name="username" placeholder="请输入登录账号" onKeyPress="javascript: if (event.keyCode==32) return false;" type="text" class="login_name {% if login_form.errors.username %}errorput{% endif %}" value="{{ register_name|default_if_none:'' }}"></p>
            <p>密码：<input maxlength="30" id="password" type="password" placeholder="请输入6-20位非中文字符密码" name="password" class="login_name {% if login_form.errors.password %}errorput{% endif %}"></p>
            <input type="hidden" id="next_to" name="next_to" value="{{ next_to }}">
            <input type="button" class="login_btn c_login_button" id="bnt_submit" value="立即登陆" />
            <a class="login_btn c_login_button" href="{% url 'users:users_register' %}">没有账号？点击注册</a>
        </div>

		<div class="login_tips">{% for key,error in login_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
</body>
{% endblock %}
{% block custom_js %}
    <script>
        $('#bnt_submit').on('click', function(){

            var username = $.trim($("#username").val());

            var password = $.trim($("#password").val());

            if(username==null||username==undefined||username==""){
                showmsg('用户名不能为空')
                return false;
            }
            if(password==null||password==undefined||password==""){
                showmsg('密码不能为空')
                return false;
            }

            var data = {
                  'username': username,
                  'password': password,
                  'next_to': $.trim(document.getElementById('next_to').value),
              };
            var _self = $(this);

          $.ajax({
                cache: false,
                type: "post",
                url:"{% url 'users:users_login' %}",
                data:data,
                async: true,
                beforeSend:function(xhr, settings){
                    layer.open({type: 2,shadeClose: true});
                    _self.val("加载中");
                    _self.attr('disabled',true);
                },
                success: function(result) {
                    layer.closeAll();
                    if(result.username){
                        showmsg(result.username)
                    }else if(result.password){
                        showmsg(result.password)
                    }else if(result.status == 'success'){
                        window.location.href = result.data;

                    }else if(result.status == 'fail'){
                        $("#next_to").val(result.data);
                        showmsg(result.msg)

                    }else {
                        showmsg("出现错误")
                    }

                },
                complete: function(XMLHttpRequest){
                    _self.val('提交');
                    _self.removeAttr("disabled");

                },
                error: function(jqXHR, textStatus, errorThrown){
                    layer.closeAll();
                    /*弹出jqXHR对象的信息*/
                    console.log(jqXHR.responseText);
                    console.log(jqXHR.status);
                    console.log(jqXHR.readyState);
                    console.log(jqXHR.statusText);
                    /*弹出其他两个参数的信息*/
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });

        });

    </script>
{% endblock %}


