<nav class="tabs navTabs">
    <div class="fixedWrap">
        <ul class="wrap tabWrap">
            <li class="tab"><a href="/"><b>首页</b></a></li>
            <li class="tab"><a href="#"><b>用户</b></a></li>
            <li class="tab"><a href="{% url 'novels:novels_sortlist' 0%}"><b>分类</b></a></li>
            <li class="tab"><a href="{% url 'novels:novels_historybookshelf' %}"><b>足迹</b></a></li>

            <!--<li class="tab on"><a href="/search?_once_=000218_sy_ss"><b>搜索</b></a></li>-->
        </ul>
    </div>
</nav>